<div class="container py-5">
  <%= link_to lists_path do %>
    <i class="fas fa-long-arrow-alt-left pb-2"></i> Back to all lists
  <% end %>
  <div class="position-relative">
    <div class="card-category card-large mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @list.photo.attached? ? cl_image_path(@list.photo.key) : asset_path('list_background.jpg') %>)">
      <h3><%= @list.name %></h3>
    </div>
    <span class="movie-tag"><%= pluralize(@list.movies.size, 'movie') %></span>
  </div>
  <span class="mb-2 d-block"><small><em class="text-muted"><%= "You haven't saved a movie yet!" if @list.movies.empty? %></em></small></span>
  <%= link_to 'add a movie here', new_list_saved_movie_path(@list), class: 'btn btn-flat' %>
  <div class="row my-2">
    <% @list.movies.each do |movie| %>
      <% saved_movie = SavedMovie.find_by(list: @list, movie: movie) %>
      <div class="col-12 col-sm-6">
        <div class="bg-white rounded shadow">
          <%= image_tag movie.poster_url, alt: movie.title, class: 'movie-img rounded-top' %>
          <div class="p-3 rounded-bottom d-flex flex-column">
            <strong><%= movie.title %> <span class="text-muted font-weight-normal">• <%= movie.rating %> <i class="fas fa-star"></i></span></strong>
            <small class="text-muted"><%= movie.overview %></small>
            <div class="d-flex align-items-end justify-content-between pt-4">
              <div>
                <i class="fas fa-quote-left mr-2"></i><small class="flex-grow-1"><%= saved_movie.comment %></small>
              </div>
              <small class="text-right flex-shrink-0"><%= link_to 'delete', saved_movie_path(saved_movie), method: :delete, data: { confirm: "Are you sure you want to remove #{movie.title} from your #{@list.name} list"}, class: 'text-danger' %></small>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <h3>Reviews</h3>
  <div class="row">
    <div class="col-12 col-sm-6">

    </div>
    <div class="col-12 col-sm-6">
      <div class="bg-white rounded p-3">
        <h5>Add your review</h5>
        <%= simple_form_for [@list, @review] do |f| %>
          <%= f.input :comment, placeholder: 'Add your review here...' %>
          <%= f.input :rating, as: :select, collection: (1..5), prompt: "What's your rating" %>
          <%= f.submit class:'btn btn-flat' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
