<div class="position-relative">
  <div class="card-category card-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @list.photo.attached? ? cl_image_path(@list.photo.key) : asset_path('list_background.jpg') %>)">
    <h1><%= @list.name %></h1>
  </div>
    <span class="movie-tag"><%= pluralize(@list.movies.size, 'movie') %></span>
</div>
<div class="container mb-5">
  <span class="mb-2 d-block"><small><em class="text-muted"><%= "You haven't saved a movie yet!" if @list.movies.empty? %></em></small></span>
  <div class="d-flex justify-content-end my-4">
    <button type="button" class="btn btn-flat" data-toggle="modal" data-target="#new_movie_modal">
      add a movie
    </button>
  </div>
  <div class="row my-2">
    <% @list.movies.each do |movie| %>
      <% saved_movie = SavedMovie.find_by(list: @list, movie: movie) %>
      <div class="col-12 col-sm-6 mb-4" data-aos="zoom-in">
        <div class="bg-white rounded shadow h-100">
          <%= image_tag movie.poster_url, alt: movie.title, class: 'movie-img rounded-top' %>
          <div class="p-3 rounded-bottom d-flex flex-column">
            <strong><%= movie.title %> <span class="text-muted font-weight-normal">• <%= movie.rating %> <i class="fas fa-star star-yellow"></i></span></strong>
            <small class="text-muted"><%= movie.overview %></small>
            <div class="d-flex align-items-end justify-content-between pt-4">
              <div>
                <i class="fas fa-quote-left mr-2"></i><small class="flex-grow-1"><%= saved_movie.comment %></small>
              </div>
              <small class="text-right flex-shrink-0"><%= link_to 'delete', saved_movie_path(saved_movie), method: :delete, data: { confirm: "Are you sure you want to remove #{movie.title} from your #{@list.name} list"}, class: 'text-danger' %></small>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <hr class="my-5">
  <h3>Reviews</h3>
  <div class="row">
    <div class="col-12 col-sm-6">
      <% if @list.reviews.empty? %>
        <small><em class="text-muted">Be the first one to review this list</em></small>
      <% end %>
      <% @list.reviews.each do |review| %>
        <div class="bg-white rounded-lg shadow mb-3 p-3">
          <% review.rating.times do %>
            <i class="fas fa-star star-yellow"></i>
          <% end %>
          <small><em class="text-muted"><%= distance_of_time_in_words_to_now(review.created_at) %> ago</em></small>
          <p class="mb-0"><%= review.comment %></p>
        </div>
      <% end %>
    </div>
    <div class="col-12 col-sm-6">
      <div class="bg-white rounded shadow p-3">
        <h5>Add your review</h5>
        <%= simple_form_for [@list, @review] do |f| %>
          <%= f.input :comment, placeholder: 'Add your review here...' %>
          <%= f.input :rating, as: :select, collection: (1..5), required: true, prompt: "What's your rating", input_html: { id: 'review_rating' } %>
          <%= f.submit class:'btn btn-flat' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render 'saved_movies/new', list: @list %>
