<div class="modal fade" id="new_movie_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add a movie to your <%= list.name %> list</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@list, @bookmark] do |f| %>
          <%= f.association :movie, collection: Movie.all.order(:title), prompt: 'Select a movie', input_html: { class: 'select2' } %>
          <%= f.input :comment, placeholder: 'Enter a comment about the movie' %>
      </div>
      <div class="modal-footer">
          <%= f.submit 'Add movie', class: 'btn btn-flat' %>
        <% end %>
        <button type="button" class="btn btn-cancel" data-dismiss="modal">Back</button>
      </div>
    </div>
  </div>
</div>
